@charset "UTF-*";

body {
    background-color: rgb(218, 255, 201);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    color: rgb(0, 95, 29);
}

h1#peixe{
    text-align: center;
   background-image: linear-gradient(to top, rgb(106, 218, 106), rgb(43, 182, 43));
    color: aliceblue;
}
h2 {
    color: rgb(110, 136, 85);
}

.basico {
    color: rgb(92, 95, 255);
    font-weight: bold;
}
.intermediario {
    color: rgba(255, 198, 93, 0.966);
}
.avançado {
    color: rgb(240, 169, 169);
}
.destaque {
    background-color: rgb(170, 207, 240);
}